---
#haproxy service
apiVersion: v1
kind: Service
metadata:
  name: haproxy
  labels:
    appName: haproxy
spec:
  selector:
    appName: haproxy
  ports:
  - port: 80
    targetPort: 80
  type: LoadBalancer
---
#haproxy deployment
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: haproxy
  namespace: default
spec:
  selector:
    matchLabels:
      appName: haproxy
  replicas: 1
  template:
    metadata:
      labels:
        appName: haproxy
    spec:
      containers:
      - name: haproxy
        imagePullPolicy: Always
        image: index.docker.io/xuruichen/haproxy:latest
        ports:
        - containerPort: 80
          #name: haproxy
        env:
        - name: GET_HOSTS_FROM
          value: dns
